a{
    text-decoration:none;
    color:white;
}
header, ul, li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    font-size: 18px;
    font-weight: bold;
    font-color: white;
}
ul#head {
    list-style-type: none;
    display: inline-flex;
}
header {
    background-color:#2A394E;
    text-align: center;
}
body {
    background-color: #949CA6;
}
#head li {
}