caption input[type="submit"] {
    font-size: 20px;
    padding: 5px;
}
caption {
    caption-side: bottom;
}
user agent stylesheetcaption {
    display: table-caption;
}
table{
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    font-size:20px;
}
input[type="text"], input[type="number"]{
    border-style: solid;
    background-color: #a1a8b1;
    border-style: inset;
    border-color: #a1a8b1;
}