table#crit {
    font-size: 18px;
    //margin-top: 20px;
   // background-color:white;
    text-align:right;
    margin-left: 10px;
}/*
caption{
    background-color: white;
}*/
input[type="submit"]#se {
    font-size: 22px;
}
input[type="submit"]#ti {
    font-size: 22px;
    margin-top: 5px;
}
h1 {
    text-align: center;
}
li {
    list-style-type: none;
    font-size: 18px;
    padding: 3px;
}
td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}
table#result {
    border-right-width: 30px;
    border-right-color: #2a394e;
    border-left-color: #2a394e;
    border-bottom-color: #3f4c5f;
    border-bottom-width: 10px;
    border-top-color: #3f4c5f;
    border-top-width: 10px;
    border-left-width: 30px;
    border-style: solid;
}
#duree {
    text-align: right;
}
#date {
    text-align: right;
}
#titreo{
	font-weight: bold;
	text-align: center;
}
#pays{
	text-align: center;
}
th {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
select{
    padding: 8px;
}
select#bd {
    margin-left: 10px;
    margin-right: 10px;
}

#titres {
    font-size: 18px;
    text-align: center;
}
#formSupr {
    text-align: center;
    display: block;
}

input[type="submit"]#del {
    font-size: 22px;
    margin: 10px;
}
#haut {
    display: flex;
}
#parTitre {
    //background-color: white;
   // margin-left: 40%;
    padding: 10px;
    position: absolute;
    right: 20px;
}
h1{
    font-size:22px;
}
#date{
    margin-right: 0px;
}
#haut{
    background-color: #3f4c5f;
    padding-bottom: 15px;
}
#suprOk{
    font-size:30px;
}
caption {
    padding-bottom: 30px;
    padding-top: 10px;
}
div#ajout_film table,div#creation_genre table,div#creation_realisateur table {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: #49586e;
    font-size:18px; 
}
#formSupr {
    caption-side: bottom;
    display: block;
    background-color: #4f5f77;
}
h2{
    padding-top: 15px;
    padding-bottom: 10px;
}
input[type="submit"]#film, input[type="submit"]#gen, input[type="submit"]#rea   {
    font-size: 22px;
}
#li #liste {
    padding: 5px;
    background-color: darkgray;
    font-size: 18px;
}
#li {
    text-align: center;
}